snippet luacats LuaCATS annotation
 ---@$1

snippet acats LuaCATS annotation
 -@$1

snippet luacats-fun Predefined LuaCATS @param and @return
 ---@param $1 $2
 ---@return $3

snippet luacats-class Predefined LuaCATS @class
 ---@class $1
 ---@field $2
 $0
